*,
*:before,
*:after {
  box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body{
  font-size: 20px;
  font-weight: 400;
}
.title{
  font-family: 'Arapey', serif;
  color: #9db0d1;
  font-size: 60px;
  line-height: 66px;
  text-align: center;
  margin-top: 100px;
}


body{
  margin: 50px 0px 50px 0px;
}

.subtitle{
  font-family: 'Verdana', sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  width: 1024px;
  margin: 50px auto 50px auto;
}

.btn{
  display: block;
  font-family: 'Arapey', serif;
  margin: 50px auto;
  background-color: #EBAC87;
  padding: 24px 50px 24px 50px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 32px;
  color: #FFFFFF;
  border: 0px;
  border-radius: 10px;
}

.feachers{
  display: flex;
  justify-content: center;
  margin: 50px 130px auto 129px;
}

.feachers .box{
  display: flex;
  align-items: center;
}


.bullet{
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #9DB0D1;
  margin: 0px 15px;


}

.bullet-text{
  font-family: 'Verdana', sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.icon{
  width: 30px;
  height: 25;
  align-items: center;
  margin: 18px 15px 18px 15px;

}


.box{
  margin: 0 auto;
}


.caption {
  background: url("../img/clouds.png") repeat-x top / auto 200px,
    linear-gradient(180deg, rgba(135, 198, 235, 0) 8.33%, #87C6EB 93.06%);
  padding: 250px 120px 100px;
  font-family: 'Arapey';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
}


.information{
  background: #87C6EB;
}


.cards{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
  
}

.card{
  background: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  margin: -55px auto 75px 0;

}

.number{
  color: #FFFFFF;
  width: 60px;
  height: 60px;
  background: rgba(235, 172, 135, 0.4) 40%;
  font-size: 30px;
  line-height: 36px;
  border-radius: 50%;
  text-align: center;
  padding: 12px 20px;
  margin: 0 0 10px 0;
}

.second{
  background: rgba(235, 172, 135, 0.6);
}

.third{
  background: #EBAC87;
}


 .image{
  width: 310px;
  height: 310px;
  background: #EBAC87;
 } 

img{
  width: 100%;
}


.card-text{
  width: 260px;
  font-family: 'Verdana', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 20px auto 20px 0px;
}

strong{
  font-weight: bold;
}


.check-in-block{
 
  width: 1200px;
  margin: 0 auto;
  background: url("../img/mountains.png") bottom right / auto 475px no-repeat;
  min-height: 475px;
}




.h2{
 font-family: 'Arapey', serif;
 font-style: normal;
 width: 600px;
 font-weight: 400;
 font-size: 40px;
 line-height: 44px;
 text-align: left;
 margin: 0 auto 0 0;
 color: #FFFFFF;
}


.link{
  color: black;
}


.discription{
  font-family: 'Verdana', sans-serif;
  width: 580px;
  font-size: 20px;
  line-height: 24px;
  margin: 50px auto 50px 0;
}

.buttons{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 1200px;
}


.check-in{
  font-family: 'Arapey', serif;
  display: block;
  margin: auto auto 50px 0;
  background-color: #FFFFFF;
  padding: 24px 50px 24px 50px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 32px;
  color: #EBAC87;
  border: 0px;
  border-radius: 10px;
}

.question-mark{
  font-family: 'Verdana', sans-serif;
  width: 80px;
  height: 80px;
  font-size: 60px;
  line-height: 72px;
  border-radius: 50%;
  background: #EBAC87;
  color: #FFFFFF;
  margin: auto 0 50px auto;
  padding: 3px 23px 4px 24px;
}

.footer{
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
}

.main-btn{
  font-family: 'Arapey', serif;
  background-color: #EBAC87;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 32px;
  color: #FFFFFF;
  border: 0px;
  border-radius: 10px;
  margin: 50px auto 50px 0;
  padding: 24px 50px;
}

.medias{
  display: flex;
  justify-content: flex-end;
  margin: 50px 0 50px auto;
  padding: 0 36px;
}





